<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charity Verification</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <title>Charitable</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <!-- Navigation (Sits on top) -->
  <%- include('partials/nav') %> 

    <div class="charity-section">
      <h1>Approved Requests</h1>
    <div class="detkails">
      
        <% if(posts.length > 0 ){ %> 
        <% posts.map((post)=>{  %> 
          <div class="main">
            <div class="donation-card">
              <a href="/<%= post._id %>" >
               <img src="/media/<%= post.image %> "> 
                <p><%= post.title %> </p>
                <p><%= post.desc %> </p>
                <p>Funds target : <%= post.amount %> </p>
                
              </a>
                <div class="buttns">
                    <a class="delete" data-doc="<%= post._id %>">
                      <button class="registerBtn del"> DELETE </button>
                    </a>
                </div>
              </div>
                <img class="qrpic" src="/media/qr.png" alt="">
                 <!-- QR GEN -->
                <!-- <img src=<d%=qr_code[0] %> alt="QR Code"> -->
              </div>
                <!-- QR GEN -->
                <!-- <img src=<d%=qr_code[0] %> alt="QR Code"> -->
                 
  
        <!-- <a href="/lol" role="button" class="btn btn-primary">Back</a> -->
    
            <!-- </div>  -->
            <% })}else { %>  
            <h3>No Approved Posts </h3>
          <% } %> 

    </div>
    </div>
    <!-- <div class="footer">
      <h4>“ When a person dies, all their deeds end except three:
        a continuing charity, beneficial knowledge and a 
        child who prays for them ”</h4>  
    </div> -->
  
  <style>
    h1{
        text-align: center;
    }
    .details{
      
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
}

.registerBtn{
  margin-bottom: 7%;
}
       img{
         width: 100%;
       }
    .donation-card{
        
        text-align: center;
        background-color: white;
        width: 27%;
        margin-top: 5%;
        margin-left: auto;
        border-radius: 25px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                    0 10px 10px rgba(0,0,0,0.22);
    }
    
    .buttons{
        display: flex;
        justify-content: center;
    }
    button{
    margin-top: 3%;
    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #a50a0a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%;
}
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.main{
  
  display: flex;
  
}
.qrpic{
  
  
  width: 10%;
  height: 10%;
  margin: auto;
  margin-left: 0;
}
</style>
<script src="/script.js"></script>
</body>
</html>